{% include '_list.html.twig' with {'URL': URL } %}
<div class="col-12 col-lg-8 col-xl-10">
	<h5 class="header-text">Выборка для задания списка групп и студентов</h5>
	<div class="row">
		<div class="col-12 col-lg-3 col-xl-4">
			<div class="form-container rounded">
				<form id="select_task_id" method="post">
					<div class="mb-3">
						<select class="form-select" name="task">

							{% for task in tasks %}
								{% if task.id == currentTask %}
									<option value="{{ task.id }}" selected>{{task.task}}</option>
								{% else %}
									<option value="{{ task.id }}">{{task.task}}</option>
								{% endif %}
							{% endfor %}
						</select>


					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
		<div class="col-12 col-lg-5 col-xl-6">
			<div class="table-container rounded">
				{% if students|length > 0 or groups|length > 0 %}
					<div>
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">Задание</th>
									<th scope="col">Студенты/группы</th>
								</tr>
							</thead>
							<tbody>
								{% for student in students %}
									<tr>
										<td>
											{{ currentTask}}
										</td>
										<td>
											{{ student.first_name }}
											{{ student.last_name }}
										</td>
									</tr>
								{% endfor %}
								{% for group in groups %}
									<tr>
										<td>
											{{ currentTask}}
										</td>
										<td>
											{{ group.id }}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				{% endif %}
			</div>
		</div>
		</div>
		</div>
	</main>
	<script src="{{ URL }}/public/js/listOfGroupsStudents.js"></script>
