{% include '_header.twig' with {'URL': URL } %}
{% include '_list.html.twig' with {'URL': URL } %}
<div class="col-12 col-lg-8 col-xl-9">
	<h5 class="header-text">Расчёт статистики "критически нагруженных" заданий</h5>
	<div class="table-container rounded">
		{% if loads|length > 0 %}
           
			<ul class="list-group list-group-flush margin-top-15">
				{% for load in loads %}
					<li class="list-group-item">
						Задание: {{ load.taskId}} Количество студентов: {{ load.studentsCount }} Количество проверяющих: {{ load.instructorsCount }} Коэффициент: {{ load.coefficient }}
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
</div>
</main>
<script src="{{ URL }}/public/js/base.js"></script>
{% include '_footer.twig' with {'URL': URL } %}