<main>
    <div class="container">
        <div class="row">
            <div class="col-3 col-xl-2 d-none d-lg-block">
                <ul class="list-group list-group-flush rounded">
                    <li class="list-group-item ">
                        <a class="navbar-item link" href="{{ URL }}/Index">все задания студента</a>
                    </li>
                    <li class="list-group-item ">
                        <a class="navbar-item link" href="{{ URL }}/Index/getStudentsCount">количество студентов для заданий</a>
                    </li>
                    <li class="list-group-item ">
                        <a class="navbar-item link" href="{{ URL }}/Index/getListOfGroupsStudents">Выборка для задания списка групп и студентов</a>
                    </li>
                    <li class="list-group-item ">
                        <a class="navbar-item link" href="{{ URL }}/Index/getTaskLoadsStatistic">Расчёт нагрузки проверяющих</a>
                    </li>
                    <li class="list-group-item">
                        <a class="navbar-item link" href="{{ URL }}/Index/getCriticalLoadedStatistic">Расчёт статистики "критически нагруженных" заданий</a>
                    </li>
                    <li class="list-group-item">
                        <a class="navbar-item link" href="{{ URL }}/Index/getLessonStudents">список студентов для конкретного занятия</a>
                    </li>
                </ul>
            </div>